@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Share+Tech+Mono&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=location_on");
.header-container {
    background-color: var(--color-fondo-header);
    height: 125px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-container .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header-container .logo img {
    width: 300px;
}
.header-container .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 20px;
}
.header-container .info a{
    color: var(--color-texto-info);
    text-decoration: none;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;    
    transition: color 500ms ease;
}
.header-container .info a:hover {
    color: var(--color-texto-info-hover);
}
.header-container .info .icon {
    fill: var(--color-texto-info);
    width: 12px;
}
.header-container .info .info-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 800px){
    .header-container {
        flex-direction: column;
        justify-content: center;
    }
    .header-container .logo{
        border: 2px red solid;
        position: relative;
        left: 0%;
        transform: translateX(0%);
    }
    .header-container .logo img {
        width: 200px;
    }
    .header-container .info {
        flex-direction: row;
        padding: 0;
    }
}