@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1');
/* Navbar Container */
.nav-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fondo-header);
  border-bottom: 2px solid var(--color-black);
  height: 28px;
}
@media (max-width: 800px) {
  .nav-container {
    background-color: transparent;
    flex-direction: column;
    height: 500px;
    width: 100%;
    justify-content: flex-start;
    border-bottom: 0px;
  }
}

/* btn */
.nav-container .nav-btn {
  height: 50px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid var(--color-black);
  background-color: var(--color-fondo-nav);
  transition: background-color 0.5s ease;
}
@media (min-width: 800px) {
  .nav-container .nav-btn {
    display: none;
  }
}
.nav-container .nav-btn .icon {
  fill: var(--color-3);
  width: 50px;
  height: 50px;
}

/* navbar */
.nav-container .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 800px;
  border-top: 2px solid var(--color-black);
  transition: all 0.3s ease;
}
@media (max-width: 800px) {
  .nav-container .navbar {
    display: block;
    position: absolute;
    border-top: 0px;
    border-radius: 0 0 75% 10%;
    padding: 30px 30px;
    height: 350px;
    width: 100%;
    top: 50px;
    left: 0%;
    transition: all 0.5s ease;
    background-color: var(--color-fondo-nav-cont);
  }
  .nav-container .navbar.active {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: -1000px;
    transition: all 0.5s ease;
    opacity: 0;
  }
}

/* a */
.nav-container a {
  text-decoration: none;
  color: var(--color-texto-nav);
  font-family: 'DM Serif Text', serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  padding: 0 20px 0 20px;
  transition:
    color 0.5s ease,
    font-size 0.5s ease;
}
.nav-container a:hover {
  font-size: 18px;
  color: var(--color-3);
}
@media (max-width: 800px) {
  .nav-container a {
    display: block;
    font-size: 20px;
    white-space: nowrap;
    margin: 10px 0;
  }
  .nav-container a:hover {
    font-size: 21px;
    color: var(--color-3);
  }
}
