:root {
  --color-1: #ae8c67;
  --color-1-t: rgba(174, 140, 103, 0.6);
  --color-2: #8d7152;
  --color-2-t: rgba(141, 113, 82, 0.7);
  --color-3: #5d1520;
  --color-3-t: rgb(93, 21, 32, 0.6);

  --color-white: rgb(255, 255, 255);
  --color-white-t: rgba(255, 255, 255, 0.8);
  --color-black: rgb(0, 0, 0);
  --color-black-t: rgba(0, 0, 0, 0.8);

  /* Header */
  --color-fondo-header: var(--color-2-t);
  --color-texto-info: var(--color-black-t);
  --color-texto-info-hover: var(--color-3);
  /* Barra de navegación */
  --color-texto-nav: var(--color-black-t);
  --color-texto-nav-hover: var(--color-3);
  --color-borde-nav: var(--color-black-t);
  --color-fondo-nav: var(--color-2-t);
  --color-fondo-nav-hover: var(--color-black-t);
  --color-fondo-nav-cont: var(--color-2-t);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}
#root {
  position: relative;
  background-color: rgb(26, 26, 26);
  height: 100vh;
  width: 80%;
  /* background-image: url('./assets/orion_foto1.webp');
  background-color: rgb(61, 61, 61);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -450px */;
}
@media (max-width: 800px) {
  #root {
    background-position: center -100px;
  }
}
body {
  display: flex;
  justify-content: center;
  color: var(--color-texto);
  background-color: rgb(61, 61, 61);
}